body {
    margin: 0;
    padding: 0
}

:root {
    font-size: calc(1rem + .25vw);
    --dark-color:#2a2726;
    --medium-color:#7e8082;
    --light-color: #ffffff;
    --accent-color:#1b83bc;
    --accent-color-2:#665878;
    --bright-color: #ea4948;
    --element-shadow:1px 1px 5px rgba(42, 39, 38, .2);
    --max-characters:70ch;
    --main-font:'Roboto',sans-serif;
    --accent-font:'Montserrat',sans-serif;}

* {
    font-family: var(--main-font);
}

body,div,footer,header,html,img,main,nav,section {
    max-width: 100%
}

nav {
    height: 5vh;
    min-height: 80px;
    max-height: 120px;
    max-width: 100%;
    padding: 0 20px;
    margin: auto
}

.nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    margin: auto;
    height: 100%
}

footer {
    margin-bottom: 0
}

.main-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.main-image {
    width: 65%;
}

.main-text {
    width: 30%;
    margin: auto 0 auto auto;
    text-align: left;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: auto
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    max-width: 1600px;
    margin: auto;
}

nav,nav * {
    background-color: var(--dark-color);
    z-index: 1000
}

.main-nav {
    -webkit-box-shadow: var(--element-shadow);
    box-shadow: var(--element-shadow)
}

footer {
    background-color: var(--accent-color);
    background-image: linear-gradient(-45deg, #61617d, transparent);
}

footer p {
    background-color: rgba(255,255,255,0);
    background-image: linear-gradient(transparent, transparent);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--accent-font)
}

h1 {
    font-size: calc(1.5rem + .5vw);
    font-weight: 900;
    margin: 20px 0;
    display: inline-block;
    border-bottom: 10px solid var(--accent-color-2);
}

h2 {
    line-height: 3rem;
}

p {
    font-family: var(--main-font);
    line-height: 2.85ex;
    font-weight: 300;
}

button, a {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.main_button {
    border-width: 0;
    border-radius: 30px;
    font-family: var(--accent-font);
    color: var(--dark-color);
    text-transform: uppercase;
    padding: 10px 25px;
    margin: auto;
    cursor: pointer;
    font-size: calc(.7rem + .1vw);
    background-color: white;
    text-decoration: none;
    margin: 5px;
}
.main_button:hover {
    background-color: var(--accent-color-2);
    color: white;
    box-shadow: var(--element-shadow);
}

a:active,a:hover,button:active,button:hover {
    outline: 0
}

.light_button {
    background-color: var(--bright-color);
    background-image: linear-gradient(-45deg, #b52130, transparent);
    color: white;
}

.large_button {
    border-radius: 50px;
    padding: 20px 50px;
    font-size: calc(1rem + .1vw);
    -webkit-box-shadow: var(--element-shadow);
    box-shadow: var(--element-shadow)
}

.light_button:hover {
    background-color: var(--accent-color);
    -webkit-box-shadow: var(--element-shadow);
    box-shadow: var(--element-shadow);
    color: white;
}

nav .main_button {
    margin: auto 0 auto auto
}

nav img {
    margin: auto auto auto 0;
    max-height: 50px
}

footer img {
    margin: auto;
    padding: 20px;
    display: block
}

.color-bar-1 {
    background-color: var(--bright-color);
    padding: 80px 40px 100px;
    text-align: left;
    background-image: linear-gradient(-45deg, #b52130, transparent);
}
.color-bar-1 div, .color-bar-2 div, .color-bar-3 div {
    max-width: 1280px;
    padding: 20px 0px;
    color: white;
    margin: auto;
}

.color-bar-1 img, .color-bar-2 img, .color-bar-3 img {
    display: block;
    width: 100%;
    max-width: 500px;
}

.color-bar-2 {
    background-color: var(--accent-color);
    padding: 80px 40px 100px;
    text-align: left;
    background-image: linear-gradient(-45deg, #61617d, transparent);
}

.color-bar-3 {
    background-color: #ff3158;
    background: linear-gradient(-45deg, #ff3158, #cc2950);
    padding: 80px 40px 100px;
    text-align: left;
}

.white-bar {
    padding: 80px 40px 100px;
    text-align: left;
}
.white-bar p, .color-bar-1 p, .color-bar-2 p {
    padding: 40px 0;
}
.white-bar li {
    max-width: 1600px;
    padding-bottom: 10px;
}
.white-bar>* {
    max-width: 1280px;
    background-color: rgba(255,255,255,0);
    padding: 20px 0px;
    color: var(--dark-color);
    margin: auto;
}

.link-wrapper {
    display: flex; 
    flex-wrap: wrap;
    margin: 10px -5px 30px;
}

.disclaimer {
    font-family: var(--main-font);
    font-size: calc(.8rem);
    color: #f2f2f2;
    padding: 5ex 5ex 2ex 5ex;
    font-style: italic;
    max-width: 1600px;
    margin: auto;
}

.copyright {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    color: var(--light-color);
    font-size: .7rem;
    font-family: var(--main-font)
}

@media screen and (max-width: 1024px) {
    .flex-container {
        display:block;
    }

    .main-image, .main-text {
        width: 100%;
        text-align: center;
    }

    .main-text {
        padding: 20px 0px;
    }

    .main-text p {
        padding: 20px 40px 40px 40px;
    }

    .link-wrapper .main_button {
        padding: 8px 12px;
        font-size: calc(.6rem + .1vw);
        margin: 3px;
    }
}
